/* global */
body {
    background-color: rgb(132,210,246);
}

/* search page Main Title */
.searchTitleDiv{
  text-align: center;
  background-color: rgb(73,198,229);
  border-radius: 32px;
  margin: 3vw 7vw 5vw 7vw;
}

.searchTitleDiv img{
  max-height: 12vw;
  max-width: 12vw;
  padding-bottom: 3vw;
}

.searchTitle{
  padding: 5vw;
  margin: 0 auto;
  display: inline-block;
}

/* search page Select Title */
.searchSelectTitleDiv{
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1vw;
  max-width: 45vw;
  padding-bottom: 1vw;
}

/* search page Select form styling */
.selectFormDiv{
  width: 55vw;
  /* padding-top: 1vw; */
  margin: 0 auto;
  background-color: rgb(48,107,172);
  border-radius: 23px;
}

.form-group{
  padding: 1vw 3vw;
}

.form-control{
  max-width: 15vw;
  display: inline-block;
  margin: 2vw !important;
  border: 3px solid black;
}

.fromToButton{
  width: 11vw;
  border: 3px solid black;
}

/* search page Results */
.searchResultsTitleDiv{
  text-align: center;
  margin: 0 auto;
  margin-top: 2vw;
  padding-bottom: 1vw;
}

.searchResultsTitleDiv hr{
  height: 5px;
}

.searchResultsCard{
  max-width: 15vw;
  margin: 0 auto;
}

.searchResultsButton{
  margin: 0 auto !important;
}

/* reservation (flight) page */
.reservationsTitleDiv{
  text-align: center;
}

div[class^="col-md-1"] {
  border: 1px solid black;
}

.bookButton, .takenMeButton, .takenOtherButton{
  width: 15vw;
  white-space: normal;
  font-weight: 600;
}

.rowTitle{
  width: 9vw;
  margin-left: 2vw;
  margin-right: 5vw;
  margin-top: 5px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgb(138,137,192);
  border-radius: 3px;
  height:3vw;
  line-height: 3vw;
  white-space: normal;
}

.seatRow{
  padding-top: 3vw;
}

.bookButton{
  background-color: rgb(6, 214, 160);
}
.takenMeButton{
  background-color: orange;
}

.takenOtherButton{
  background-color: red;
}

.flightBackButtonDiv{
  background-color: rgb(48,107,172);
  border-radius: 23px;
  height: 7vw;
  width: 25vw;
  margin: 4vw auto;
  text-align: center;
}


.goBackButton{
  margin-top: 1vw;
  border: 3px solid black;
}
