/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html{
  padding-left: 0px;
}

body{
  background-color: #49C6E5;
  text-align: center;
  width: 100%;
}

.plane-grid-container{
  display: grid;
}

.seat-cell{
  border: 1px solid black;
  width: 95%;
  height: 95%;
  border-radius: 15%;
}

ul.planes{
  padding: 0px;
  margin: 0px;
  border: 0px;
}

li.plane{
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

li h3{
  text-align: left;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 3px;
}

th{
  background-color: #048A81;
}

td{
background-color: #06D6A0;
  text-align: center;
}

.seat-cell{
  background-color: #8A89C0;
}


.form-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.form-grid strong{
  margin-right: 10px;
  text-align: right;
  grid-column: 2;
}
